@media only screen and (min-width: 835px) {
  .signUpPage {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 80px 80px 80px;
  }

  .form {
    margin-right: 355px;

  }

  .signUpTitle {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin: 0 0 60px 0;
  }

  #submitButton{
    padding: 10px 50px;
    background-color: #344966;
    border-radius: 16px;  
  }

  .picture {
    width: 612px;
    height: 522px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 834px) {}

@media only screen and (max-width: 320px) {}