.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  width: 100%;
  text-decoration: none;
}

p.MuiTypography-root {
  font-family: "Poppins", sans-serif;
}

button.MuiButton-root {
  font-family: "Poppins", sans-serif;
}